.register-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .register-container h2 {
    text-align: center;
  }
  
  .register-container form {
    display: flex;
    flex-direction: column;
  }
  
  .register-container label {
    margin-bottom: 5px;
  }
  
  .register-container input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #218838;
  }
  
  /* Стили для кнопки возврата на главную страницу */
  .back-to-home {
    display: inline-block;
    padding: 10px 15px;
    margin: 10px 0;
    background-color: #3498db;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
  }
  
  .back-to-home:hover {
    background-color: #2980b9;
  }